<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Templates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-virtual-scroll [items]="items">
    <ion-item *virtualItem="let item">
      {{ item.name }}
    </ion-item>
  </ion-virtual-scroll>

</ion-content>

<ion-footer>
    <ion-item>
      <ion-button (click)="AddTemplateAlert()" shape="round" class="file_button">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-footer>