
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Templates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button color = "stable" class = "template_button button-block">To-Do List</ion-button>
    <ion-button color = "stable" class = "template_button button-block">Recipies</ion-button>
    <ion-button color = "stable" class = "template_button button-block">Workout</ion-button>
</ion-content>
